{{ define "register.html" }}
<head>
    <title>请注册</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/src/fav.ico">
    <link type="text/css" rel="stylesheet" href="static/style/media.css">
    <link type="text/css" rel="stylesheet" href="static/style/card.css">
    <link type="text/css" rel="stylesheet" href="static/style/regForm.css">
    <link type="text/css" rel="stylesheet" href="static/style/backBox.css">
    <link type="text/css" rel="stylesheet" href="static/style/welcome.css">
    <link type="text/css" rel="stylesheet" href="static/style/mainPage.css">
    <script src="static/script/jquery.js"></script>
    <script src="static/script/backBox.js"></script>
    <script src="static/script/regInit.js"></script>
</head>
<body >
<div class="mainPage welcome">
    <h1>欢迎访问</h1>
    <span>飞书</span>
    <h1>论坛</h1>
</div>
<div class="card">
    <div class="topNav">
        <h1>注册</h1>
    </div>
    <div class="regForm">
        <input id="username" placeholder="用户名" />
        <input id="password" type="password" placeholder="密码" />
        <input id="confirm" type="password" placeholder="确认密码">
        <input id="register" type="submit" value="注册" style="cursor: pointer;"/>
    </div>
    <div class="moreAction">
        <a class="regist" href="login">已有账号？登录</a>
    </div>
</div>
<div class="backBox">
    <div class="track">刚出生的婴儿会哭，你说那是对生的喜悦，还是对世界的恐惧？</div>
    <div class="track">人类每天都盖被子睡觉，所以人类是被子植物</div>
    <div class="track">灯塔是陆地的诱饵，发呆是在阅读空气</div>
    <div class="track">生活就是在米缸里种玫瑰。</div>
    <div class="track">熬夜，是对昨天做辅助延长线。</div>
    <div class="track">钱都流向不缺钱的人，爱都流向不缺爱的人，为什么苦都流向了我。</div>
    <div class="track">前程似锦，怪不得我一个穷人买不起。</div>
    <div class="track">我是一个隐形富豪，我的钱也隐形了。</div>
    <div class="track">刚刚被打了，因为跟公司新来的香港会计师说，“你记账吗？”</div>
    <div class="track">狙击手沉着冷静得击毙了最后一名人质，使绑匪失去了所有谈判筹码。</div>
    <div class="track">狙击手沉着冷静得击毙了最后一名人质，使绑匪失去了所有谈判筹码。</div>
    <div class="track">当我们擦肩而过的时候你绝不会想到其貌不扬的我竟然是豪华黄钻。</div>
</div>
</body>

{{ end }}
